.square {

    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

#container {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    display: grid;
    /* grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px); */
}